sudo: required
language: java

env:
  global:
    - "MYSQL_DATABASE=external_galaxy_test"
    - "MYSQL_USER=test"
    - "MYSQL_PASSWORD=password"
    - "MAVEN_OPTS=-Djava.awt.headless=true"

services:
  - docker
  - mysql

dist: xenial

jdk:
  - openjdk8

rvm:
  - 2.4.1

cache:
  directories:
    - $HOME/.m2

before_install:
  - sudo apt-get install libgconf-2-4

install:
  - mysql -e "CREATE USER '$MYSQL_USER'@'localhost' IDENTIFIED BY '$MYSQL_PASSWORD'; GRANT ALL ON $MYSQL_DATABASE.* to '$MYSQL_USER'@'localhost';"
  - mvn -version
  - pushd lib; ./install-libs.sh; popd
  - gem install jekyll
  - gem install pygments.rb
  - source .ci/install_deps.sh

script: pushd irida_import; xvfb-run py.test -s; popd
