sudo: required
language: java

dist: xenial

services:
  - docker
  - mysql
  - postgresql
  - xvfb

addons:
  chrome: stable

jdk:
  - openjdk8

rvm:
  - 2.4.1

env:
  global:
    - "MYSQL_DATABASE=irida_test"
    - "MYSQL_USER=test"
    - "MYSQL_PASSWORD=test"
    - "MAVEN_OPTS=-Djava.awt.headless=true"

cache:
  directories:
    - $HOME/.m2

before_install:
  - sudo apt-get install libgconf-2-4

install:
  - mysql -e "SET GLOBAL sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));"
  - mysql -e "CREATE USER '$MYSQL_USER'@'localhost' IDENTIFIED BY '$MYSQL_PASSWORD'; GRANT ALL ON $MYSQL_DATABASE.* to '$MYSQL_USER'@'localhost';"
  - psql -c 'create database galaxy_test;' -U postgres
  - mvn -version
  - source .ci/install_deps.sh

script: pushd irida_import && py.test -s && popd
